<ion-content #content (ionScroll)="onScroll($event)" scrollEvents="true">


  <!--   header area start   -->
  <div class="header-area">
    <div class="info-bar">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-8">
            <ul class="social-links">
              <!-- <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li> -->
            </ul>
          </div>
          <div class="col-lg-8 col-4">
            <div class="right-content">
              <span class="working-time">Opening Hours : Monday - Saturday 9 am to 5 pm</span>
              <div class="language">
                <a href="#" class="dropdown-btn">EN <i class="flaticon-down-arrow"></i></a>
                <ul class="language-dropdown">
                  <li>
                    <a href="#">English</a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="support-nav-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-6">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner">
                <a href="/home"><img src="../../assets/img/logo.png" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-6 position-lg-relative position-static">
            <div class="support-bar" style="margin-right: -15px;">
              <div class="row">
                <div class="offset-xl-4 col-xl-8 offset-2 col-10">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="support-info">
                        <div class="left-content"><i class="flaticon-call"></i></div>
                        <div class="right-content">
                          <div class="right-content-inner">
                            <h5>Free Call</h5>
                            <p (click)="callNumber()" style="cursor: pointer;">+971 56 684 4152</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="support-info">
                        <div class="left-content"><i class="flaticon-email"></i></div>
                        <div class="right-content">
                          <h5>Mail us</h5>
                          <p (click)="sendEmail()" style="cursor: pointer;">Contact&#64;glidewavelog.com</p>

                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <a href="/quote" class="boxed-btn"><span>Get a Quote</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-area">
              <div class="row">
                <div class="col-lg-9 d-lg-block d-none">
                  <nav class="main-menu" id="mainMenu">
                    <ul>
                      <li>
                        <a href="/home">Home</a>

                      </li>
                      <li>
                        <a href="/about">About Us</a>
                      </li>
                      <li class="dropdown">
                        <a href="/service">Services</a>
                        <ul>
                           <li ><a href="/service">Services</a></li>
                           <li ><a href="/service-details">Service Details</a></li>
                        </ul>
                     </li>


                      <li>
                        <a href="/contactus">Contact</a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="col-lg-3 col-12 position-lg-relative position-static">
                  <div id="mobileMenu"></div>
                  <ul class="search-cart-area">

                    <li class="shopping-icon" style="display: none;">
                      <a href="#"><i class="flaticon-shopping-cart-black-shape"></i></a>
                      <span class="count">0</span>
                    </li>
                    <li class="search-icon"><a href="#" (click)="toggleSearchPopup($event)"><i
                          class="flaticon-search"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   header area end   -->



  <!--   search bar popup start   -->
  <div class="search-popup" [ngClass]="{ 'popup': showSearchPopup }">
    <form class="search-form" action="#">
      <div class="form-element"><input type="text" placeholder="Type your search keyword"></div>
    </form>
    <div class="search-popup-overlay" (click)="closeSearchPopup()"></div>
    <button class="search-close-btn" (click)="closeSearchPopup()">
      <i class="fas fa-times"></i></button>
  </div>

  <!--  breadcrumb start  -->
  <div class="breadcrumb-area quote-breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="breadcrumb-txt">
            <span>Quote</span>
            <h1>request a quote for delivery</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quote</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="breadcrumb-overlay"></div>
  </div>
  <!--  breadcrumb end  -->


  <!--   quote section start    -->
  <div class="quote-section quote-page">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="row">
            <div class="col-lg-9">
              <span class="title">Quote</span>
              <h2 class="subtitle">Request a quote</h2>
            </div>
          </div>
          <form action="https://formsubmit.co/contact@glidewavelog.com" method="POST" ngNoForm target="_self">
            <input type="hidden" name="_next" value="https://www.glidewavelog.com/home">
            <input type="hidden" name="_captcha" value="false">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-element">
                  <input name="name" type="text" placeholder="Your name" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-element">
                  <div class="select-wrapper">
                    <select name="freight" required>
                      <option value="" selected disabled>Select a Freight</option>
                      <option value="Air Freight">Air Freight</option>
                      <option value="Ocean Freight">Ocean Freight</option>
                      <option value="Land Freight">Land Freight</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-element">
                  <input name="email" type="email" placeholder="Email" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-element">
                  <input name="phone" type="text" placeholder="Phone" required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-element mb-0">
                  <button type="submit" class="boxed-btn">
                    <span>Submit</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--  contact infos start  -->
        <div class="col-xl-5 offset-xl-1 col-lg-6">
          <div class="contact-infos">
            <div class="single-info">
              <div class="icon-wrapper"><i class="fas fa-home"></i></div>
              <div class="info-txt" (click)="openLocationInNewTab()" style="cursor: pointer;">
                <p>Amman St - Al Nahda </p>
                <p>Al Qusais Industrial Area 2 - Dubai</p>
                <p>United Arab Emirates</p>
              </div>
            </div>
            <div class="single-info">
              <div class="icon-wrapper"><i class="fas fa-phone"></i></div>
              <div class="info-txt">
                <p><a style="text-decoration: none;" href="tel:+9710566844152">+971 056 684 4152</a></p>
              </div>
            </div>
            <div class="single-info">
              <div class="icon-wrapper"><i class="far fa-envelope"></i></div>
              <div class="info-txt">
                <p><a style="text-decoration: none;" href="mailto:contact@glidewavelog.com" target="_blank"
                    rel="noopener noreferrer">contact&#64;glidewavelog.com</a></p>
                <p><a style="text-decoration: none;" href="mailto:salim@glidewavelog.com" target="_blank"
                    rel="noopener noreferrer">salim&#64;glidewavelog.com</a></p>
                <p><a style="text-decoration: none;" href="mailto:bilal@glidewavelog.com" target="_blank"
                    rel="noopener noreferrer">bilal&#64;glidewavelog.com</a></p>
              </div>
            </div>
          </div>
        </div>
        <!--  contact infos end  -->
      </div>
    </div>
  </div>
  <!--   quote section end    -->


  <!--  features section start  -->
  <div class="features-section home-2 border">
    <div class="container">
      <div class="row feature-content">
        <div class="col-xl-5 offset-xl-7 col-lg-6 offset-lg-6 pr-0">
          <div class="features">
            <span class="title">Features</span>
            <h2 class="subtitle">WHY CHOOSE US</h2>
            <div class="feature-lists">
              <div class="single-feature wow fadeInUp" data-wow-duration="1s">
                <div class="icon-wrapper"><i class="flaticon-customer-service"></i></div>
                <div class="feature-details">
                  <h4>24/7 support</h4>
                  <p>We offers logistic management services and supply chain perspiciatis unde omnis iste natus error
                    sit voluptat. </p>
                </div>
              </div>
              <div class="single-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                <div class="icon-wrapper"><i class="flaticon-email"></i></div>
                <div class="feature-details">
                  <h4>On time delivery</h4>
                  <p>We offers logistic management services and supply chain perspiciatis unde omnis iste natus error
                    sit voluptat. </p>
                </div>
              </div>
              <div class="single-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                <div class="icon-wrapper"><i class="flaticon-worldwide"></i></div>
                <div class="feature-details">
                  <h4>global service</h4>
                  <p>We offers logistic management services and supply chain perspiciatis unde omnis iste natus error
                    sit voluptat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  features section end  -->




  <!--   cta section start    -->
  <div class="cta-section cta-bg">
    <div class="container">
      <div class="cta-container">
        <div class="row align-items-center">
          <div class="col-lg-9">
            <h2 class="mb-lg-0 text-center text-lg-left">Reach your destination 100% safe & secure</h2>
          </div>
          <div class="col-lg-3 text-center text-lg-right">
            <a href="/contactus" class="boxed-btn"><span>Contact Us</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="cta-overlay"></div>
  </div>
  <!--   cta section end    -->


  <!--   footer section start    -->
  <footer>
    <div class="container foot">
      <div class="top-footer">
        <div class="row">
          <div class="col-xl-4 col-lg-4">
            <div class="logo-wrapper"><img src="../../assets/img/footer_logo.png" alt=""></div>
            <p>Glidewave offers a host of logistic management services and supply chain & provide
              innovative solutions with the best. </p>
          </div>
          <div class="offset-xl-1 col-xl-2 col-lg-2">
            <h4>Useful Links</h4>
            <ul class="userful-links">
              <li><a href="/home">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/service">Service</a></li>

              <li><a href="/contactus">Contact</a></li>
            </ul>
          </div>
          <div class="col-xl-2 col-lg-2">
            <h4>Services</h4>
            <ul class="userful-links">
              <li><a href="/service">Air Freight</a></li>
              <li><a href="/service">OCEAN Freight</a></li>
              <li><a href="/service">WAREHOUSING</a></li>
              <li><a href="/service">STORAGE</a></li>
              <li><a href="/service">Land Freight</a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-4">
            <h4>Contact Us</h4>
            <div class="footer-contact">
              <div class="contact-info">
                <div class="icon-wrapper"><i class="flaticon-placeholder"></i></div>
                <div class="info-txt" (click)="openLocationInNewTab()" style="cursor: pointer;">
                  <p>Amman St - Al Nahda </p>
                  <p>Al Qusais Industrial Area 2 - Dubai</p>
                  <p>United Arab Emirates</p>
                </div>
              </div>
              <div class="contact-info">
                <div class="icon-wrapper"><i class="flaticon-call"></i></div>
                <p><a style="text-decoration: none;" href="tel:+9710566844152">+971 056 684 4152</a></p>
              </div>
              <div class="contact-info">
                <div class="icon-wrapper"><i class="fa-brands fa-whatsapp"></i></div>
                <p><a style="text-decoration: none;" href="https://wa.me/971566844152" target="_blank"
                    rel="noopener noreferrer">
                    Chat on WhatsApp
                  </a></p>
              </div>
              <div class="contact-info">
                <div class="icon-wrapper"><i class="flaticon-email"></i></div>
                <p><a style="text-decoration: none;" href="mailto:contact@glidewavelog.com" target="_blank"
                    rel="noopener noreferrer">contact&#64;glidewavelog.com</a></p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer">
        <p class="text-center">© Copyrights 2025 Glidewave. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!--   footer section end    -->


  <!-- preloader section start -->
  <div class="loader-container" id="loader">
    <span class="loader">
      <span class="loader-inner"></span>
    </span>
  </div>
  <!-- preloader section end -->






  <!-- popper js -->
  <script src="../../assets/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="../../assets/js/bootstrap.min.js"></script>
  <!-- owl carousel js -->
  <script src="../../assets/js/owl.carousel.min.js"></script>
  <!-- isotope js -->
  <script src="../../assets/js/isotope.pkgd.min.js"></script>
  <!-- slicknav js -->
  <script src="../../assets/js/jquery.slicknav.min.js"></script>
  <!-- wow js -->
  <script src="../../assets/js/wow.min.js"></script>
  <!-- main js -->
  <script src="../../assets/js/main.js"></script>
</ion-content>

<!-- back to top area start -->
<div class="back-to-top" (click)="scrollToTop()">
  <i class="fas fa-chevron-up"></i>
</div>
<!-- back to top area end -->